[% META pagetitle = 'Confirm deletion of map' %]

<p>Are you sure you want to delete the <em>[% map.name %]</em> map?</p>

<p>
    <a href="/maps/delete_ok/[% map.id %]"><img src="/images/tick.png" height="16" width="16" alt="Yes" title="Yes"> Yes</a> or 
    <a href="/admin"><img src="/images/cancel.png" height="16" width="16" alt="No" title="No"> No</a>
</p>
